#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour {
    width: 1.8%;
    height: 26%;
    top: 23.4%;
    left: 49.1%;
    /* opacity: 0.8; */
}
#minute {
    width: 1.5%;
    height: 29.9%;
    top: 20%;
    left: 49.25%;
    /* opacity: 0.8;  */
}
#second {
    width: 0.8%;
    height: 34%;
    top: 16%;
    left: 49.55%;
    /* opacity: 0.8; */
}